#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
}

.photos {
width:80%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px 80px;
}

figure, img {
	width: 100%;
	margin: 0;
}
